<div class="row">
<div class="col-sm-12">
<div id="TOC">
<ul class="navbar">
<li class="msmb"><p class="title">Modern Statistics for Modern Biology<p><p class="author">Susan Holmes, Wolfgang Huber</p>
<li class="dropdown" style="float:right">
<a href="javascript:void(0)" class="dropbtn">&#x25BE; Chapters</a>
<div class="dropdown-content">
<a id="active-page" href="index.html">Home</a><ul class="toc-sections">
<li class="toc"><a href="#book-supplements">Book supplements</a></li>
<li class="toc"><a href="#physical-copy">Physical Copy</a></li>
</ul>
<a href="introduction.html">Introduction</a>
<a href="Chap-Generative.html"><span class="toc-section-number">1</span> Generative Models for Discrete Data</a>
<a href="Chap-Models.html"><span class="toc-section-number">2</span> Statistical Modeling</a>
<a href="Chap-Graphics.html"><span class="toc-section-number">3</span> High Quality Graphics in R</a>
<a href="Chap-Mixtures.html"><span class="toc-section-number">4</span> Mixture Models</a>
<a href="Chap-Clustering.html"><span class="toc-section-number">5</span> Clustering</a>
<a href="Chap-Testing.html"><span class="toc-section-number">6</span> Testing</a>
<a href="Chap-Multivariate.html"><span class="toc-section-number">7</span> Multivariate Analysis</a>
<a href="Chap-CountData.html"><span class="toc-section-number">8</span> High-Throughput Count Data</a>
<a href="Chap-MultivaHetero.html"><span class="toc-section-number">9</span> Multivariate methods for heterogeneous data</a>
<a href="Chap-Graphs.html"><span class="toc-section-number">10</span> Networks and Trees</a>
<a href="Chap-Images.html"><span class="toc-section-number">11</span> Image data</a>
<a href="Chap-Supervised.html"><span class="toc-section-number">12</span> Supervised Learning</a>
<a href="Chap-Design.html"><span class="toc-section-number">13</span> Design of High Throughput Experiments and their Analyses</a>
<a href="statistical-concordance.html">Statistical Concordance</a>
<a href="acknowledgements.html">Acknowledgements</a>
<a href="references.html">References</a>
</div>
</li>
</ul>
</div>
</div>
</div>